{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:react/jsx-runtime",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ]
  }
}
